:root {
  --primary: #2E83B7;
  --secondary: #E77338;
  --success: #289A82;
  --danger: #D25425;
  --info: #50A6D3;
}

.fullscreen {
    height: 120vh;
};

.services-card {
  min-height: 600px;
};

.services-card:hover {
  background-color: yellow;
}

/* Used for the nav bar buttons */
.hover-button:hover {
  color: var(--primary) !important;

}

/* Services */
body{
  margin-top:20px;
  background:#F0F8FF;
  }
.text-custom{
  color: #0062ff !important;
  }

.blankspace {
  min-height: 200px;
}

.max-height-60 {
  max-height: 60px;
}



