body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hover-grow {
  transition: transform .2s;
  margin: 0 auto;
}

.hover-grow:hover {
  transform: scale(1.1);
}

/* Font sizes */
.font-8 {
  font-size: 8px;
}
.font-12 {
  font-size: 12px;
}
.font-16 {
  font-size: 16px;
}
.font-20 {
  font-size: 20px;
}
.font-24 {
  font-size: 24px;
}
.font-28 {
  font-size: 28px;
}
.font-32 {
  font-size: 32px;
}
.font-36 {
  font-size: 36px;
}
.font-40 {
  font-size: 40px;
}
.font-44 {
  font-size: 44px;
}
.font-48 {
  font-size: 48px;
}
.font-52 {
  font-size: 52px;
}
.font-56 {
  font-size: 56px;
}.font-60 {
  font-size: 60px;
}.font-64 {
  font-size: 64px;
}.font-68 {
  font-size: 68px;
}.font-72 {
  font-size: 72px;
}
.bold {
  font-weight: bold;
}

.fade-in {
	animation: fadeInAnimation ease 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
    transform: translateY(10%);
	}
	100% {
		opacity: 1;
	}
}



.deskPicture {
  background-position: center;
}

.h-10 {
  height: 10%;
}

.whyus-img {
  object-fit: cover;
  background-color: black;
  opacity: 50%;
}

/* Flip Cards */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */




.container{
    transform-style: preserve-3d;
}

.container .box{
    position: relative;
    width: 800px;
    height: 400px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
    
}

.container .box .body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}



.container .box .body .imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.container .box .body .imgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .body .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateX(180deg);
}

.container .box:hover .body{
    transform: rotateX(180deg);
}

.container .box .body .content div{
    transform-style: preserve-3d;
    padding: 20px;
    /* background: #2E83B7; */
    background: linear-gradient(180deg, #2E83B7,#8ec5e2);
    transform: translateZ(100px);
}

.container .box .body .content div h3{
    letter-spacing: 1px;
}

.icon-service {
  margin: 0rem 4rem 2rem 0rem;
}