

//  custom variables

$primary: #2E83B7;
$secondary: #E77338;
$success: #289A82;
$danger: #D25425;
$info: #50A6D3;
$light: #f8fbff;


// $body-bg: $light;

// $link-color:                              $primary !default;
// $link-decoration:                         underline !default;
// $link-shade-percentage:                   20% !default;
// $link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;
// $link-hover-decoration:                   null !default;


// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif:      Arial, Helvetica, sans-serif;
$font-family-monospace:       source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;


// import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';



